.modal {
  display: none;
}

.modal.is-active {
  display: block;
  background-color: rgba(128, 128, 128, .5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.diary-content, .diary-write {
  background-color: #FBCDC0;
  width: 600px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;

  font-size: 2rem;
}

.diary-content {
  display: flex;
  flex-flow: column nowrap;

  .content-time, .content-text {
    margin-top: 20px;
  }
  .content-text {
    flex-grow: 1;
    overflow: auto;
    white-space: wrap;
    word-break: break-all;
    padding-right: 10px;
    text-indent: 1em;
  }
  .content-btn {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
  
    button {
      font-size: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }
    .content-edit {
      font-size: 1.5rem;
      padding-left: 2px;
    }
  }
}

.diary-write {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .write-input {
    margin: 20px 0 0;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid #5F5AB2;
  }
  .write-time {
    font-size: 1.5rem;
  }
  .write-text {
    margin-top: 20px;
  }
  .write-text {
    flex-grow: 1;
    width: 100%;
    border-bottom: 2px solid #5F5AB2;
    font-size: 2rem;
    text-indent: 1em;
  }

  .write-completed {
    margin-top: 20px;
    font-size: 20px;
    padding: 0 20px;
  }

  .write-close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 0 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: black;
  border-radius: 5px;
}